<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/Proyecto/estilos/styless1.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<main>
    <body>
        <div class="cabeza">
            <div class="prin">
                <h2><span class="diseño">Diseño</span> <span class="multimedia">Multimedia</span></h2>
            </div>
            <div class="lista-botones">
                <ul class="botones">
                    <li class="boton"><a href="">INICIO</a></li>
                    <li class="boton"><a href="">NOSOTROS</a></li>
                    <li class="boton"><a href="">SERVICIOS</a></li>
                    <li class="boton"><a href="">CONTACTO</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="lineamedia">
        <div class="textosub">
            <h3>Subscribete a nuestro boletin</h3>
        </div>
        <form>
            <input type="email" placeholder="ingrese su Email..." required>
            <button type="submit">Subscribete</button>
        </form>
    </div>

    <div class="Nosotros">
        <div class="nos">
            <h5>Nosotros</h5>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias, molestias obcaecati! Soluta rem neque illum quae reprehenderit sed, fugit adipisci sapiente veritatis vitae optio nam id velit vel iusto officia!</p>
            
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil expedita commodi quo et veniam nam exercitationem. Animi, hic necessitatibus, eius veniam tenetur doloremque molestias consequuntur perferendis iste quia alias mollitia.</p>
            
            <img src="/images/891.jpg" alt="laptop" class="laptop">
            
        </div>
        
        
        <div class="dark-box">
            <h6>Que hacemos</h6>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam, officiis nam fuga magni ratione asperiores pariatur porro error temporibus numquam, ipsam dignissimos
            voluptatum accusantium dolorem totam, dolore tempora cupiditate enim!</p>
        </div>
    </div>
    
</main>
<footer>
    <p>Graphel Desarollo Web. Copyright &copy; 2017</p>
</footer>
    
</body>
</html>