<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/Proyecto/estilos/styless1.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <body>
            <div class="cabeza">
                <div class="prin">
                    <h2><span class="diseño">Diseño</span> <span class="multimedia">Multimedia</span></h2>
                </div>
                <div class="lista-botones">
                    <ul class="botones">
                        <li class="boton"><a href="/index.html">INICIO</a></li>
                        <li class="boton"><a href="/Proyecto/templates/nosotros.html">NOSOTROS</a></li>
                        <li class="boton"><a href="">SERVICIOS</a></li>
                        <li class="boton"><a href="/Proyecto/templates/contacto.html">CONTACTO</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="lineamedia">
            <div class="textosub">
                <h3>Subscribete a nuestro boletin</h3>
            </div>
            <form>
                <input type="email" placeholder="ingrese su Email..." required>
                <button type="submit">Subscribete</button>
            </form>
        </div>
    
            
        
        <section class="Servicios">
            <div class="tiposer">
                <h5>Servicios</h5>
                
                <div class="service-card">
                    <h8>Diseño Web</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet ultricies at, vulputate id lorem. Nulla facilisi.</p>
                    <p class="price">Precio: $300000 - $1000000</p>
                </div>
    
                <div class="service-card">
                    <h8>Desarrollo Web</h8>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet ultricies at, vulputate id lorem. Nulla facilisi.</p>
                    <p class="price">Precio desde: $1000000</p>
                </div>
    
                <div class="service-card">
                    <h8>Hosting Web</h8>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet ultricies at, vulputate id lorem. Nulla facilisi.</p>
                    <p class="price">Precio: $300000</p>
                </div>
            </div>
            <div class="dark-box2">
                <h6>Que hacemos</h6>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam, officiis nam fuga magni ratione asperiores pariatur porro error temporibus numquam, ipsam dignissimos
                voluptatum accusantium dolorem totam, dolore tempora cupiditate enim!</p>
            </div>
            
        </section>
        
            
        
    </main>
    <footer>
        <p>Graphel Desarollo Web. Copyright &copy; 2017</p>
    </footer>
    
</body>
</html>